.container{
    width: 100%;
    background: linear-gradient(90deg, rgb(224, 150, 13), rgb(245, 222, 20));
    padding: 1px 0;
    text-align: center;
    text-transform: uppercase;
    color: rgb(112, 83, 11);
    display: flex;
    justify-content: center;
    align-items: center;
}

.animationLogo{
    width: 130px;
}

@media only screen and (max-width:640px){
    .container{
        font-size: small;
    }
    .animationLogo{
        width: 80px;
    }
}